.m-scroll{
	mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
	-webkit-mask: linear-gradient(90deg, transparent, white 20% , white 80%, transparent);
}

.m-scroll__title{
	animation: scroll 40s linear infinite;
}

@keyframes scroll{
	to{
		transform: translate(-100%)
	}
}