.m-scroll{
	mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
	-webkit-mask: linear-gradient(90deg, transparent, white 10% , white 90%, transparent);
}

.m-scroll__title{
	animation: scroll 20s linear infinite;
}

@keyframes scroll{
	to{
		transform: translate(-100%)
	}
}