@font-face {
	font-family: 'superset';
	src: url('fonts/superset.woff') format('woff');
	font-weight: normal;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	padding: 5rem;
}

p {
	font-size: 1.125rem;
	line-height: 1.75rem;
	cursor: default;
}


h1 {
	font-size: 7rem;
	line-height: 1;
	font-family: 'superset', sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	margin: 0;
	cursor: default;
}

@media (max-width: 768px) {
	main {
		padding: 0;
		text-align: center;
		gap: 0px;
		flex-direction: column;
	}

	h1 {
		font-size: 3.75rem;
	}

	p {
		margin-top: 0.5rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

}

.red {
	color: rgb(185 28 28);
}

a {
	text-underline-offset: 4px;
	text-decoration-line: underline;
	text-decoration-thickness: 4px;
	text-decoration-color: rgb(185 28 28);
	color: inherit;
}

a:link,
a:visited {
	color: inherit;

}

a:hover,
a:focus,
a:active {
	text-decoration-color: white;
}
