

footer {
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

h1 {
	text-transform: uppercase;
	font-weight: 100;
}