ul {
	text-transform: uppercase;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	color: rgb(254 226 226);
}

li {
	color: white;
}

a {
	font-weight: 900;
	text-underline-offset: 8px;
	text-decoration: none;
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;

}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: #ef4444;
	color: rgb(254 202 202);
}